@import "tailwindcss";


.open-inter{
    font-family: "Inter", sans-serif;
    font-style: normal;
}
body{
    background-color: #1A0B2E;
}
.grad-text{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.green-btn{
    border: 1px solid #00FF88;
    padding: 1rem 48px;
    border-radius: 50px;
}
.grad-btn{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}
i{
    background: transparent;
}
.hide{
    display: none;
}


nav{
    border-bottom: 2px solid #412567;
}

.banner{
    background-image: url("./assets/hero-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.banner .container{
    width: 550px;
    height: 550px;
    text-align: center;
    margin: 100px auto;
}
.banner .container .mic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#mic{
    z-index: 10;
}
#bg{
    position: absolute;
}
#new{
    position: absolute;
    top: -70px;
    right: 150px;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0 0 5px #00ff8880;
}
.banner .container .text-container{
    color: white;
    margin-top: 100px;
}


.about{
    text-align: center;
    color: white;
    width: 50%;
    margin: auto;
}
.rating-container .ratings h1{
    color: rgb(0, 255, 136);
    font-size: 4rem;
    font-weight: bolder;
}
.why{
    background-color: #230E3D;
    margin-top: 120px;
    padding-top: 120px;
    text-align: center;
    color: white;
}
.why-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 576px){
    nav .links, nav button{
        display: none;
    }
    nav .hamburger{
        display: block;
    }
    .banner{
        min-height: 80vh;
    }
    .banner .container{
        width: 80%;
    }
    #new{
        position: relative;
        z-index: 11;
        left: 40px;
    }
    #mic{
        margin-left: 70px;
    }
    .about{
        width: 90%;
    }
    .rating-container{
        flex-wrap: wrap;
    }
}